# Ignorowanie plików CSV w katalogach Notebook4 i RecommenderSystem
Notebook4/*.csv
RecommenderSystem/*.csv

# Ignorowanie pliku .env
.env

# Ignorowanie plików cache
RecommenderSystem/*.cache
Notebook6/*.csv